* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 2;
}
body {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: monospace;
  background-color: aquamarine;
}
h1 {
  text-align: center;
}
.game-buttons button {
  background-color: #333;
  margin: 110px;
  margin-bottom: 90px;
  text-align: center;
  color: white;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 10px 20px;
  border-radius: 35px;
  transition: all 0.25s;
}

.game-buttons button:hover {
  background-color: cornflowerblue;
  color: white;
  padding: 15px 22px;
  cursor: pointer;
}

.game-buttons button img {
  float: left;
  width: 100px;
  height: 100px;
}
.game-buttons .reset-button {
  margin: 42%;
  margin-top: 0;
  text-align: center;
  width: 180px;
}

.game-result {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0px;
  color: #333;
}

img {
  width: 50px;
  vertical-align: middle;
}
